* {
    display:border-box;
    margin: 0;
}

.background {
    background-image: url(/resources/home-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.jaun, .chevonne, .home-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-content: center ;
}

body {
    margin: 0;
    background-color: black; 
}

.particle-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}

.particle {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0.3;
    background-color: white; 
    animation: moveParticle 5s linear infinite;
    z-index: 2;
}

@keyframes moveParticle {
    0% {
        transform: translate(100px, -100px);
    }
    100% {
        transform: translate(0, 0); /* Adjust particle movement */
    }
}

.header, .subheader {
    display: flex;
    z-index: 2 ;
    color: white ;
    justify-content: center;
    margin-top: 20px;
    opacity: 0.9;
}

.profile-container {
    display: flex;
    position: relative;
    justify-self: center;
    align-self: center;
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}