.body {
    background-color: gray;
}

.jaun {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-content: center ;
}

.chevonne {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-content: center ;
}

.home-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-content: center ;
}