body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #343541;
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #00ff6a;
}

::-webkit-scrollbar-thumb:hover {
  background: #00ff6a;
}

/* Firefox */
/* Note: Firefox currently does not support styling the track */
/* You can only style the thumb */
/* For best results, use a dark background color */
* {
  scrollbar-color: #343541 #343541;
}

*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: #343541;
  border-radius: 50vw;
  margin-block: 0.5em;
}

*::-webkit-scrollbar-thumb {
  background: #00ff6a;
}

*::-webkit-scrollbar-thumb:hover {
  background: #00ff6a;
}

.custom-buttons {
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 10px;
}

.custom-buttons:hover {
  font-family: "Roboto", sans-serif;
  color: #00ff6a;
}

.custom-socials {
  padding-left: 50px;
}

.fa-brands {
  color: #00ff6a;
}

.custom-brand {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.custom-brand:hover {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
}

.color-green {
  color: #00ff6a;
}

.color-white {
  color: white;
}

.fa-bars {
  color: #00ff6a;
}

#social {
  position: relative;
  display: flex;
}

.custom-socials {
  display: flex;
  min-width: 500px;
  list-style: none;
  padding-top: 20px;
  list-style: none;
  height: 30px;
  font-size: 16px;
}

.custom-socials li {
  width: 40px;
  list-style: none;
  margin-right: 10px;
}

.custom-sint .nav-link {
  font-size: 2rem;
}

.custom-sint .nav-link:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.icon {
  transition: transform 0.3s;
}

.portfolio {
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 32%;
  left: 12%;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 50px;
  opacity: 100%;
}

.portfolio p {
  margin: 0;
}

.p2 {
  font-size: 36px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.p2i {
  color: #00ff6a;
  font-weight: bold;
}

.p3 {
  font-size: 24px;
  padding: 5px;
}

.p4 {
  font-size: 12px;
  padding-top: 16px;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.p5 {
  font-size: 12px;
  padding: 5px;
}

.custom-back {
  background-image: url("/main/images/flat-lay-workstation-with-copy-space-laptop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 99.9vw;
  opacity: 50%;
}

.skills {
  padding-left: 200px;
  padding-bottom: 2000px;
}

.custom-profile {
  width: 72px;
  height: 72px;
  border: 2px solid white;
  border-radius: 50%;
}

.about-sp {
  color: white;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
}

#footer {
  position: relative;
  bottom: 0;
  overflow: hidden;
  display: flex;
}

.about {
  background-color: #343541;
  height: 100vh;
  border-bottom: #00ff6a 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects {
  background-color: #343541;
  height: 100vh;
  border-bottom: #00ff6a 1px solid;
}

.services {
  background-color: #343541;
  height: 100vh;
  border-bottom: #00ff6a 1px solid;
}

.contact {
  background-color: #343541;
  height: 100vh;
  border-bottom: #00ff6a 1px solid;
}

#profile-img {
  height: 4em;
  width: 4em;
  position: relative;
  top: -1.5em;
  border: none;
  z-index: 1;
}

.navbar-nav .nav-item.dropdown:hover .nav-link::after,
.navbar-nav .nav-item.dropdown .nav-link::after {
  display: none;
}

#content-box {
  display: flex;
  position: absolute;
  top: 20em;
  transform: translateY(50%);
  z-index: 1;
}
